.barreChallenges_Pays {
    width: 100%;
    height: 20px;
    background: linear-gradient(to right,
        #505050 0.00%,
        #505050 3.91%,
        #990000 3.92%,
        #990000 12.74%,
        #FF0000 12.75%,
        #FF0000 34.30%,
        orange 34.31%,
        orange 58.81%,
        lightgreen 58.82%,
        lightgreen 82.34%,
        green 82.35%,
        green 98.03%,
        #0080FF 98.04%,
        #0080FF 100%);
}

.barreRounds_Pays {
    width: 100%;
    height: 20px;
    background: linear-gradient(to right,
        #505050 0.00%,
        #505050 28.52%,
        #990000 28.53%,
        #990000 35.19%,
        #FF0000 35.20%,
        #FF0000 40.68%,
        orange 40.69%,
        orange 46.17%,
        lightgreen 46.18%,
        lightgreen 54.79%,
        green 54.80%,
        green 69.01%,
        #0080FF 69.02%,
        #0080FF 100%);
}

.barreChallenges_Divers {
    width: 100%;
    height: 20px;
    background: linear-gradient(to right,
        #000000 0.00%,
        #000000 62.49%,
        #FF0000 62.50%,
        #FF0000 74.99%,
        orange 75.00%,
        orange 87.49%,
        lightgreen 87.50%,
        lightgreen 100%);
}

.barreRounds_Divers {
    width: 100%;
    height: 20px;
    background: linear-gradient(to right,
        #000000 0.00%,
        #000000 62.49%,
        #505050 62.50%,
        #505050 72.49%,
        #990000 72.50%,
        #990000 77.49%,
        orange 77.50%,
        orange 81.24%,
        lightgreen 81.25%,
        lightgreen 86.24%,
        green 86.25%,
        green 91.24%,
        #0080FF 91.25%,
        #0080FF 100%);
}

