body {
    text-align: center;
    background-color: #D2D580;
}

table {
    margin: auto; /* Marge automatique pour centrer le tableau */
    border-collapse: collapse; /* Pour fusionner les bordures de cellules */
}

th, td {
    border: 1px solid black; /* Bordures de cellules */
    padding: 6px; /* Espacement interne des cellules */
    background-color: #EAEE92;
}

a {
    color: black;
}

img {
    width: 70%
}
/* For the main (best / ext ext // all / ext all) */

.barre {
    width: 100%; /* Largeur totale de la barre */
    height: 20px; /* Hauteur de la barre */
    background: linear-gradient(to right,
        black 0%,
        #ff4654 0.01%,
        red 24.99%,
        yellow 25.00%,
        yellow 49.99%,
        green 50.00%,
        green 74.99%,
        black 75.00%,
        black 100.00%
    );
}

.spanPC {
    font-style: italic;
    font-size: 11px;
    font-weight: normal;
}

.divDefault {
    background-color: #c5c873;
    border: 2px solid black;
    padding-right: auto;
    padding-bottom: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-right: 10%;
    margin-left: 10%;
    box-shadow: 0px 0px 8px 6px rgba(70, 70, 0, 0.8); /* Ombre noire */
}

.divTitle {
    background-color: #c5c873;
    border: 2px solid black;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-right: 10%;
    margin-left: 10%;
    box-shadow: 0px 0px 8px 6px rgba(70, 70, 0, 0.8); /* Ombre noire */
}


.slien {
    color: black;
}

.bestscore {
    background-color: #00cc00;
    font-weight: bold;
}
.bestother {
    background-color: #66FF66;
    text-align: right;
    font-weight: normal;
    padding-right: 10px;
}

.extremescore {
    background-color: #ff4444;
    font-weight: bold;
}
.extremeother {
    background-color: #ff6666;
    font-weight: normal;
    padding-right: 10px;
    text-align: right;
}


.totduoscore {
    background-color: #3399FF;
    font-weight: bold;
}

.totduoscore_sur {
    background-color: #3399FF;
    font-weight: bold;
    font-size: 30px;
}

.totduoscore_km {
    background-color: #3399FF;
    font-weight: bold;
    font-size: 25px;
    font-weight: normal;
}

.totduoother {
    background-color: #3399FF;
    font-weight: normal;
    padding-right: 10px;
    text-align: right;
}


.hideen {
    display: none;
}

.likeBack {
    background-color: #D2D580;
}

.num {
	background-color: #a0a0a0;
}

.date {
	background-color: #bbbbbb;
	font-style: italic;
}

.pays {
	background-color: #bbbbbb;
	font-weight: bold;
	text-align: left;
	padding-left: 10px;
}

.dist {
	background-color: #dddddd;
	text-align: right;
	padding-right: 10px;
}

.timeset {
	background-color: #bbbbbb;
}

.cid {
	background-color: #bbbbbb;
	text-align: left;
	padding-left: 10px;
}

.retour {
    color: black;
    font-weight: bold;
}

.upth {
    background-color: #999900;
    font-size: 20px;
    font-weight: bold;
}

.conti {
    background-color: #dddddd;
}

.tenta {
    background-color: #dddddd;
}